.*
!.gitignore
!/.github
!.HA_VERSION
backups/
blueprints/

secrets_template.yaml
secrets.yaml

custom_components/
www/community/

*.code-workspace
home-assistant.log*
*.db*

node-red/

deepstack/

frigate.yml
