node_modules/
.*

# Hide the fat flow json file
# I use node-red-contrib-flow-manager to seperate flows and subflows
#
# https://flows.nodered.org/node/node-red-contrib-flow-manager
flows.json

# Don't know what this file is used for
# It grows without me touching node red 
#
# https://github.com/zachowj/node-red-contrib-home-assistant-websocket
node-red-contrib-home-assistant-websocket.json